body{
    height: 100vh;
}

.container{
    padding: 3%;
}

.vertical{
    display: flex;
    justify-content: center;    
}

.horizontal{
    display: flex;
    margin: 1px;
    aspect-ratio: 1/1;
    border:solid grey;
}

