html{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    padding: 3%;
    align-self: center;
}

.vertical{
    display: flex;
    justify-content: center;    
}

.horizontal{
    display: flex;
    margin: 1px;
    aspect-ratio: 1/1;
    border:solid grey;
}

